{{ $assetBusting := not .Site.Params.disableAssetsBusting }}
<a id="logo" href="{{"/" | relURL}}"><img src="{{"images/oat.gif" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" /><br />
<div id="site-title">{{ .Site.Title }}</div>
</a>
